/* @value makerGreen from './common/colors.css'; */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #385461;
  padding: 0.3em;
}

.logo {
}

.title {
  margin: 0.2em 0;
  color: white;
}